@font-face { font-family: "BQN386"; src: url("https://dzaima.github.io/BQN386/BQN386.ttf"); }
@font-face { font-family: "Octicons"; src: url("https://yelp.github.io/fonts/octicons.ttf"); }
octi { font-family: "Octicons"; }

body { margin: 0; padding: 0; font-family: "BQN386"; font-size: 16px; }

.topbar {
	position: fixed; top:0;  width: 100%; color: #777;
	margin: 0 0 1ex 0; padding: 3px; background-color: #ccc;
	font-family: "Octicons"; font-size: 16px; text-align: right;
}
.topbar span { padding: 0; }
.topbar a {	padding: 0 1em 1ex 0; text-decoration: none; color: #777; }
.topbar a:hover, .topbar a:active { color: #000; }
.topbar a .off, .topbar a:hover .off, .topbar a:active .off { color: #777; }
.topbar a .on, .topbar a:hover .on, .topbar a:active .on { color: #000; }

div { margin: 0; padding: 0; }
span { margin: 0; padding: 0 0 0 1em; }
p { margin: 0; padding: 0.25ex 0 0.25ex 1em; max-width: 100%; }
p:empty { display: none; }

table { border-collapse: collapse; margin-top: 2em; }
td { padding: 0.25ex 0 0.25ex 1em; vertical-align: top; }
td.exp { color: #8a8; }
td.res { text-decoration: underline; text-decoration-color: #cde; text-decoration-thickness: 3px; }
td.x { color: #06e; }

#stack { padding-left: 0; }
#stack span.unsel { color: #888; }
#stack span.x     { color: #09f; }
#stack span.w     { color: #b0f; }
#stack span.y     { color: #e06; }

cursor { padding: 0 0 0 1em; }
cursor.tight { padding-left: 0; }
cursor.val { color: #ccc; }
cursor.res { color: #def; }
cursor.fun { color: #fde; }
cursor.tra { color: #fde; }
cursor.exp { color: #cec; }
cursor.xxx { color: #ecf; }

#banner { position: absolute; top: 15%; width: 100%; font-size: 500%; text-align: center; user-select: none; }
#banner h1 { font-size: 80px; word-spacing: -1ex; color: #222; }
#banner h2 { font-size: 12px; font-weight: normal; color: #777; }

#help {
	position: fixed; bottom: 0; right: 1em; margin:0;
	text-align: right; color: #777; display: none; user-select: none;
}
#help a { color: #777; text-decoration: none;}
#help k { color: #e77; }
#help #bqn { color: #1f7229;}
