@font-face { font-family: "BQN386"; src: url("https://dzaima.github.io/BQN386/BQN386.ttf"); }
@font-face { font-family: "Octicons"; src: url("https://yelp.github.io/fonts/octicons.ttf"); }
octi { font-family: "Octicons"; }

:root {
	--bg-color-l: #fdfdfb; --color-l: #222; --key-bg-l: #ffffff;
	--bg-color-d: #333333; --color-d: #eee; --key-bg-d: #000000;
	--color-x: #09f; --color-w: #c7e; --color-f: #e77; --color-e: #8a8;
	--color-on: #000; --color-off: #777;
}

body {
	margin: 0; padding: 0; font-family: "BQN386"; font-size: 1.5em;
	background-color: var(--bg-color-l); color: var(--color-l);
}
body tr { border-bottom-color: var(--color-d); }
body.other { background-color: var(--bg-color-d); color: var(--color-d); }
body.other tr { border-bottom-color: var(--color-l); }

@media (prefers-color-scheme: dark) {
	body { background-color: var(--bg-color-d); color: var(--color-d); }
	body a #dark { color: var(--color-off); }
	body tr { border-bottom-color: (--color-l); }
	body.other { background-color: var(--bg-color-l); color: var(--color-l); }
	body.other a #dark { color: var(--color-on); }
	body.other tr { border-bottom-color: (--color-d); }
}

#all { visibility: hidden; }
#all.on { visibility: visible; }

.topbar {
	position: fixed; top:0;  width: 100%; color: var(--color-off);
	margin: 0 0 1ex 0; padding: 3px; background-color: #ccc;
	font-family: "Octicons"; font-size: 16px; text-align: right;
}
.topbar span { padding: 0; }
.topbar a {	padding: 0 1em 1ex 0; text-decoration: none; color: var(--color-off); }
.topbar a:hover, .topbar a:active { color: var(--color-on); }
.topbar a .toggle, .topbar a:hover .toggle, .topbar a:active .toggle { color: var(--color-on); }
.topbar a .toggle.none, .topbar a:hover .toggle.none, .topbar a:active .toggle.none { color: var(--color-off); }

div { margin: 0; padding: 0; }
span { margin: 0; padding: 0 0 0 1em; }
p { margin: 0; padding: 0.25ex 0 0.25ex 1em; max-width: 100%; }
p:empty { display: none; }
pre { font-family: 'BQN386'; }

table { border-collapse: collapse; margin-top: 2em; }
body tr { display: block; min-width: 10em; border-bottom: solid 3px var(--color-d); }
td { padding: 0.25ex 0 0.25ex 1em; vertical-align: top; }
td.x { text-decoration: underline; text-decoration-color: var(--color-x); text-decoration-thickness: 2px; }
td.w { text-decoration: underline; text-decoration-color: var(--color-w); text-decoration-thickness: 2px; }
tr.res td { background-color: #667; color: white; }
td.exp { width: 100%; color: var(--color-e); }
td.eq { color: #888; }

#vars { float: right; margin: 0 1em; font-size: small; }
#vars .k { user-select: none; cursor: pointer; color: var(--color-f);  }

#stack { padding-left: 0; }
#stack.none { margin-top: 2em; }
#stack span { display: inline-block; }
#stack span.unsel { color: var(--color-off); }
#stack span.x     { color: var(--color-x); }
#stack span.w     { color: var(--color-w); }

cursor { padding: 0 0 0 1em; }
cursor.tight { padding-left: 0; }
cursor.val { color: #ccc; }
cursor.res { color: #cde; }
cursor.fun { color: #ecd; }
cursor.exp { color: #beb; }
cursor.xxx { color: #dbf; }
cursor.mod { color: #f00; }

#err { padding: 0 1em; background-color: #fff4f4; color: #c00; }

#banner { position: absolute; top: 10%; width: 100%; font-size: 500%; text-align: center; user-select: none; }
#banner h1 { font-size: 80px; word-spacing: -1ex; }
#banner h2 { font-size: 12px; font-weight: normal; color: var(--color-off); }
#banner a { color: inherit; text-decoration: none; }

#help {
	position: fixed; bottom: 0; right: 1em; margin:0; font-size: 11px; line-height: 1.4;
	text-align: right; white-space: pre-line; color: var(--color-off); user-select: none;
}
#help k { display: inline-block; min-width: 1.5em; text-align: center; }
#help a { color: var(--color-off); text-decoration: none;}
#help d { color: var(--color-x); }
#help r { color: var(--color-r); }
#help c { color: var(--color-f); }
#help e { color: var(--color-e); }
#digits { display: none; font-size: 180%; }
#digits e { padding: 3px 8px; }
@media screen and (max-width: 640px) {
	#digits { display: block; }
	#help { font-size: 9px; }
}
c, d, r, e {
	border-radius: 4px; border: solid 1px; display: inline-block; opacity: 80%;
	background-color: var(--key-bg-l); box-shadow: 1px 1px var(--color-off); 
	margin: 2px; padding: 1px 4px 2px 4px; letter-spacing: .05em; line-height: .75em; white-space: nowrap;
}
body.other c, body.other d, body.other r, body.other e {
	background-color: var(--key-bg-d); box-shadow: -1px -1px var(--color-off);
}
@media (prefers-color-scheme: dark) {
	c, d, r, e { background-color: var(--key-bg-d); box-shadow: -1px -1px var(--color-off); }
	body.other c, body.other d, body.other r, body.other e {
		background-color: var(--key-bg-l); box-shadow: 1px 1px var(--color-off);
	}
}

